{% extends "layout.html" %}

{% block content %}


<section id="intro">
    <header>
        <a href="/"><img src="/logo.png" alt="Logo da pagina"></a>
    </header>

    <main>
        <p>
            Ficar em casa em períodos longos, não deve ser nada fácil.
        </p>
        <p>
            Por isso, iremos catalogar <strong>ideias, brincadeiras, jogos, filmes, livros, cursos, dicas</strong> e
            tudo que
            for necessário para tornar
            esse momento mais interessante.
        </p>
        <p>
            Comece clicando em ver ideias para ver as ideias cadastradas e contribua adicioando a sua ideia.
        </p>
    </main>

    <div id="buttons">
        <button class="fat">+ Adicionar Ideias</button>
        <button class="ver"><a href="/ideias">Ver Ideias</a></button>
    </div>

</section>

<section id="ideas">

    {% include "all_ideas.html" %}

</section>

{% endblock %}